@{
    ViewData["Title"] = "Actions";
}

<h1>Actions</h1>

<div style="margin-top:3%">
    <h3>Books</h3>
    <hr />
    <div>
        <a asp-controller="Book" asp-action="ManageBooks" class="btn btn-primary">Manage Books</a>
    </div>
</div>

<div style="margin-top:3%;">
    <h3>Orders</h3>
    <hr />
    <div>
        <a asp-controller="Order" asp-action="ManageOrders" class="btn btn-primary">Manage Orders</a>
    </div>
</div>